


<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    

    

    <!-- The styles -->
    <link id="bs-css" href="{{asset('back/css/bootstrap-cerulean.min.css')}}" rel="stylesheet">

    <link id="bs-css" href="{{asset('back/css/bootstrap-cerulean.min.css')}}" rel="stylesheet">

    <link href="{{asset('back/css/charisma-app.css')}}" rel="stylesheet">
    <link href="{{asset('back/bower_components/fullcalendar/dist/fullcalendar.css')}}" rel='stylesheet'>
    <link href="{{asset('back/bower_components/fullcalendar/dist/fullcalendar.print.css')}}" rel='stylesheet' media='print'>
    <link href="{{asset('back/bower_components/chosen/chosen.min.css')}}" rel='stylesheet'>
    <link href="{{asset('back/bower_components/colorbox/example3/colorbox.css')}}" rel='stylesheet'>
    <link href="{{asset('back/bower_components/responsive-tables/responsive-tables.css')}}" rel='stylesheet'>
    <link href="{{asset('back/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/jquery.noty.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/noty_theme_default.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/elfinder.min.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/elfinder.theme.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/uploadify.css')}}" rel='stylesheet'>
    <link href="{{asset('back/css/animate.min.css')}}" rel='stylesheet'>

    
    

    <!-- jQuery -->
    

    <script src="{{asset('back/bower_components/jquery/jquery.min.js')}}"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="{{ asset('comment/css/revslider/settings.css') }}"> <!--revslider-->

    <!--END CSS-->
    <link rel="stylesheet" href="{{asset('comment/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('comment/css/animate.css')}}">

    <link rel="stylesheet" href="{{asset('comment/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('comment/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('comment/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset('comment/css/aos.css')}}">

    <link rel="stylesheet" href="{{asset('comment/css/ionicons.min.css')}}">

    <link rel="stylesheet" href="{{asset('comment/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('comment/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset('comment/css/style.css')}}">

    <link rel="stylesheet" type="text/css" href="jquerymobile/jquery.mobile-1.0a1.min.css" />
    <script src="{{ asset('comment/starrating/js/rating.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('comment/starrating/css/rating.css') }}" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Montserrat', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <!-- font-family: 'Raleway', sans-serif; -->
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'> <!-- font-family: 'Montez', cursive; -->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="{{asset('back/img/logo20.png')}}" class="hidden-xs"/>
                <span>Charisma</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            <!-- theme selector starts -->
            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
            <!-- theme selector ends -->

            <ul class="collapse navbar-collapse nav navbar-nav top-menu">
                <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-search pull-left">
                        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
                               type="text">
                    </form>
                </li>
            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="#"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        
                        
                       
                        <li class="accordion">
                            <a href="{{path('ajout_prof')}}"><i class="glyphicon glyphicon-plus"></i><span> Ajouter  Professor</span></a>
                            
                        </li>
                        <li class="accordion">
                            <a href="{{path('affiche_prof')}}"><i class="glyphicon glyphicon-plus"></i><span> Afficher  Professor</span></a>
                            
                        </li>
                        <li class="accordion">
                            <a href="{{path('ajouterSE')}}"><i class="glyphicon glyphicon-plus"></i><span> Ajouter Seance Eleve</span></a>
                            
                        </li>
                        <li class="accordion">
                            <a href="{{path('afficherSE')}}"><i class="glyphicon glyphicon-plus"></i><span> Afficher Seance Eleve</span></a>

                        </li>
                        <li class="accordion">
                            <a href="{{path('ajout_exam')}}"><i class="glyphicon glyphicon-plus"></i><span> Ajouter Examen</span></a>

                        </li>
                        <li class="accordion">
                            <a href="{{path('affiche_examen')}}"><i class="glyphicon glyphicon-plus"></i><span> Affiche Examen</span></a>

                        </li>

                
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>
	{% block container %}
    {% endblock %}






    


<!-- external javascript -->


<script src="{{asset('back/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

<!-- library for cookie management -->
<script src="{{asset('back/js/jquery.cookie.js')}}"></script>
<!-- calender plugin -->

<link href='/assets/demo-to-codepen.css' rel='stylesheet' />
<link href='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.css' rel='stylesheet' />
<link href='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='https://unpkg.com/moment@2.24.0/min/moment.min.js'></script>
<script src='https://unpkg.com/jquery@3.4.1/dist/jquery.min.js'></script>
<script src='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.js'></script>
<script src='https://unpkg.com/fullcalendar@3.10.1/dist/locale-all.js'></script>
<!-- data table plugin -->
<script src='{{asset('back/js/jquery.dataTables.min.js')}}'></script>

<!-- select or dropdown enhancer -->
<script src="{{asset('back/bower_components/chosen/chosen.jquery.min.js')}}"></script>
<!-- plugin for gallery image view -->
<script src="{{asset('back/bower_components/colorbox/jquery.colorbox-min.js')}}"></script>
<!-- notification plugin -->
<script src="{{asset('back/js/jquery.noty.js')}}"></script>
<!-- library for making tables responsive -->
<script src="{{asset('back/bower_components/responsive-tables/responsive-tables.js')}}"></script>
<!-- tour plugin -->
<script src="{{asset('back/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')}}"></script>
<!-- star rating plugin -->
<script src="{{asset('back/js/jquery.raty.min.js')}}"></script>
<!-- for iOS style toggle switch -->
<script src="{{asset('back/js/jquery.iphone.toggle.js')}}"></script>
<!-- autogrowing textarea plugin -->
<script src="{{asset('back/js/jquery.autogrow-textarea.js')}}"></script>
<!-- multiple file upload plugin -->
<script src="{{asset('back/js/jquery.uploadify-3.1.min.js')}}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{{asset('back/js/jquery.history.js')}}"></script>
<!-- application script for Charisma demo -->
<script src="{{asset('back/charisma.js')}}"></script>

</body>
</html>
