
<!DOCTYPE html>
 <html>
 <head>
   <title>Kiddos - Free Bootstrap 4 Template by Colorlib</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

   <link rel="stylesheet" href="{{asset('front/css/open-iconic-bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/animate.css')}}">

   <link rel="stylesheet" href="{{asset('front/css/owl.carousel.min.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/owl.theme.default.min.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/magnific-popup.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/aos.css')}}">

   <link rel="stylesheet" href="{{asset('front/css/ionicons.min.css')}}">

   <link rel="stylesheet" href="{{asset('front/css/flaticon.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/icomoon.css')}}">
   <link rel="stylesheet" href="{{asset('front/css/style.css')}}">

  </head>
 <body>
 <div class="py-2 bg-primary">
  <div class="container">
   <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
    <div class="col-lg-12 d-block">
     <div class="row d-flex">
      <div class="col-md-5 pr-4 d-flex topper align-items-center">
       <div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center"><span class="icon-map"></span></div>
       <span class="text">198 West 21th Street, Suite 721 New York NY 10016</span>
      </div>
      <div class="col-md pr-4 d-flex topper align-items-center">
       <div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
       <span class="text">youremail@email.com</span>
      </div>
      <div class="col-md pr-4 d-flex topper align-items-center">
       <div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
       <span class="text">+ 1235 2355 98</span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center">
   <a class="navbar-brand" href="index.html">Kiddos</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="oi oi-menu"></span> Menu
   </button>
   <!-- <p class="button-custom order-lg-last mb-0"><a href="appointment.html" class="btn btn-secondary py-2 px-3">Make An Appointment</a></p> -->
   <div class="collapse navbar-collapse" id="ftco-nav">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item"><a href="index.html" class="nav-link pl-0">Home</a></li>
     <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
     <li class="nav-item"><a href="teacher.html" class="nav-link">Teacher</a></li>
     <li class="nav-item active"><a href="{{path('afficheCal')}}" class="nav-link">Emploi</a></li>
     <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
     <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
     <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
    </ul>
   </div>
  </div>
 </nav>
 <!-- END nav -->




 <link href='/assets/demo-to-codepen.css' rel='stylesheet' />
  <link href='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.css' rel='stylesheet' />
  <link href='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.print.css' rel='stylesheet' media='print' />
  <script src='https://unpkg.com/moment@2.24.0/min/moment.min.js'></script>
  <script src='https://unpkg.com/jquery@3.4.1/dist/jquery.min.js'></script>
  <script src='https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.js'></script>
  <script src='https://unpkg.com/fullcalendar@3.10.1/dist/locale-all.js'></script>

  <script>

   $(document).ready(function() {
    var calendar = $('#calendar').fullCalendar({
     locale: 'fr',
     defaultView: 'agendaWeek',
     editable:false,
     minTime: "08:00:00",
     maxTime: "18:00:00",

     height: 'auto',


     editable:false,
     header:{
      left:'prev,next,today',
      center:'title',

      right:'month,agendaWeek,agendaDay'
     },
     eventSources: [
      {
       url: "/PiClub/PiClub/web/app_dev.php/arbia/jsonCalSE",
       method: "GET",
       extraParams: {
        filters: JSON.stringify({})
       },
       failure: () => {
        alert("There was an error while fetching FullCalendar!");
       },
      },
     ]
    });

   });

  </script>
 </head>
 <body>
 <div class="container" >
  <div id="calendar"></div>
 </div>
 </body>
 </html>
