{% extends 'admin.html.twig' %}
{% block container %}


<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Matiere</th>
        <th>Telephonne</th>

    </tr>
    </thead>
    <tbody>

        <tr>
            {% if professor != null %}
            {% for s in professor %}

            <td>{{s.id}}</td>
            <td><img src="{{ asset('images/') }}{{ s.nomImage }}" style="width: 100px;height: 100px"></td>
            <td class="center">{{s.nom}}</td>
            <td class="center">{{s.prenom}}</td>
            <td class="center">{{s.matiere}}</td>
            <td class="center">{{s.tel}}</td>
        </tr>
    {% endfor %}
        {% else %}
            <tr> nothing </tr>
        {% endif %}

    </tbody>
</table>
{% endblock %}