{% extends 'Admin/base.html.twig' %}

{% block page_content %}

<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Events list</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                      <tr>
                          <th>Nom</th>
                          <th>Description</th>
                          <th>Dateheureevent</th>
                          <th>Id</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  {% for event in events %}
                      <tr>
                          <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.nom }}</a></td>
                          <td>{{ event.description }}</td>
                          <td>{% if event.dateHeureEvent %}{{ event.dateHeureEvent|date('Y-m-d H:i:s') }}{% endif %}</td>
                          <td>{{ event.id }}</td>
                          <td>
                              <ul>
                                  <li>
                                      <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                                  </li>
                                  <li>
                                      <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                                  </li>
                              </ul>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            </div>
            <!-- /.box-footer -->
          </div>
    {% endblock %}
